
<h3>Dog-Breeder</h3> 
<p><% myDog.forEach((dog, index)=>{ %>
    <li><%= dog.name %>  is a <%= dog.type%>
    
    <!-- Anchor tag used to direct it into the edit page -->
    <a href="/dogs/edit/<%= index%>" style="display:block;">Edit</a>
        <!-- this form uses the methodoverride because html doesnot support delete and put method -->
        <form method="post" action="/dogs/<%= index%>/?_method=DELETE" >
           <input type="submit" value="Delete">
        </form>
    </li>
<% }) %>  </p>

<a href="/dogs/new">NEW CREATE</a>
<p style="margin-top : 3px">
<!-- here dogs alreay is a home page but when we send the form data into the home page we can use the query attach by the get form -->
    <form action="/dogs" method="GET">
        <label for="nameFilter">Name</label>
        <input type="text" name="nameFilter" id="nameFilter">
        <input type="submit" value="Search">
    </form>
</p>

