<form action="/dogs/new" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">

<label for="type">Type:</label>
<input type="text" name="type" id="type">
<button type="submit">New</button>
</form>